main {
    margin: 0;
    padding: 0;
}

.main-section {
    margin: 0;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
}

a {
    color: #f7a730;
    text-decoration: none;
}
html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden; /*evita lo scroll */
}

body {
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: url("../img/placeholder/login_img.jpg") center/cover;
    filter: blur(5px);
    transform: scale(1.05);
    z-index: -1;
}

main,
.main-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form {
    background-color: #ffffff;
    border-color: #1c3a6b;
}
.form-label,
h1,
#register-link {
    color: #1c3a6b;
    font-family: "DM Sans", sans-serif;
}

.form {
    min-width: 480px;
    border-radius: 15px;
}

.login-logo {
    display: block;
    margin: 0 auto 12px auto;
    width: 140px;
}
