/*per rimuovere i margini e padding di default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* SEZIONE STILI BODY */
/* stili per il corpo della pagina */
body {
    background-color: #faf0eb;
    font-family: "Mulish", sans-serif;
    line-height: 1.6;
}
